"*":
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
  "exception-reporting":
    userId: "d39fcc82-c1ee-cc2b-ab8a-d4274a7f703b"
  welcome:
    showOnStartup: false
