"*":
  core:
    audioBeep: false
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 13
    showIndentGuide: true
  "exception-reporting":
    userId: "d39fcc82-c1ee-cc2b-ab8a-d4274a7f703b"
  welcome:
    showOnStartup: false
